# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
*.egg-info/
*.egg

eda_data.csv
eda/
autogluon_models/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files

# IDE specific files
*.idea/
*.vscode/

# Logs
*.log
# Miscellaneous
*.DS_Store
*.env
data/
AutogluonModels/
graphs/
AutogluonModels/
