# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
feedback_data.csv
inventory_recommendations.csv

# IDE specific files
*.idea/
*.vscode/

# Logs
*.log
# Miscellaneous
*.DS_Store
*.env
data/
AutogluonModels/
graphs/
AutogluonModels/
